# Dependencias
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Next.js
.next/

# Variables de entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Certificados locales para Keycloak (ver docker-compose.yml)
keycloak/truststore/
